@font-face {
    font-family:'OpenSans Regular' ;
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family:'OpenSans Italic' ;
    src: url('../fonts/OpenSans-Italic.ttf');
}

@font-face {
    font-family:'OpenSans Bold' ;
    src: url('../fonts/OpenSans-Bold.ttf');
}

.body{
    background-image: url("https://орфографика.рф/800/600/https/funart.pro/uploads/posts/2020-04/1587216240_14-p-zadnie-foni-dlya-saitov-53.jpg");
    background-size:100%;
    box-sizing: border-box;
    
}

.h1{
    margin: 0px;
    font-family:'OpenSans Regular', Arial, Helvetica, sans-serif;
}

.divimg{
    width: 100vw;
background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7nRJB4cHW9q4sCnZjfNkTqK8g5KBLH0PLK4RYGZer2jI417nrFfzyP2i02Q_xbW4siKA&usqp=CAU');
    display: flex;
    justify-content: center;
}

.h2{
    color: rgb(172, 231, 116);
    font-family:'OpenSans Bold', Arial, Helvetica, sans-serif;
}

.ul-font{
    font-family: 'OpenSans Italic',Arial, Helvetica, sans-serif;
    color: rgb(245, 118, 27);
}

.color-p,.konf{
    color: aqua;
    font-family:'OpenSans Regular', Arial, Helvetica, sans-serif;

    position: relative;
    top: 10px;
}

.header{
    color: rgb(214, 250, 8);
    background-color: rgb(39, 48, 53);
    display: flex;
    justify-content: center;
}

.navigation{
    border: 3px solid rgb(214, 250, 8);
    background-color:gray;
    display: flex;
    justify-content: space-around;
}

.color-list li{
    list-style-type:none;
    display: inline-block;
    margin: 5px 20px;
    color: white;
    font-family:sans-serif;
}

.color-list{
    padding-left: 5px;
    margin: 0px;
}

.a{
    color: rgb(214, 250, 8);
    text-decoration: none;
}

.img{
    border: 10px double rgb(2, 26, 58);
   
}

.address{
    color: rgb(238, 132, 12);
    border: 5px inset rgb(0, 153, 255);
    width: 200px;
    background-color: black;
    font-family: sans-serif;
}

.hover:hover,.h1:hover{
   color: rgb(255, 72, 0);
   transition: 2s;
   font-size: 5vh;
}

.divp{
    display: flex;
    justify-content: space-around;
}



